<hr/><hr/>
<div class="nav-item px-3">
    <span>Admin Panel</span>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="/EditProjects">
        <span>Manage Projects</span>
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="/EditCategories">
        <span>Manage Categories</span>
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="/EditTechs">
        <span>Manage Technologies</span>
    </NavLink>
</div>

<hr/>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="/CreateProject">
        <span>Add Project</span>
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="/CreateCategory">
        <span>Add Category</span>
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="/CreateTech">
        <span>Add Technology</span>
    </NavLink>
</div>
