.side-social {
    align-items: center;
    color: white;
    font-size: 12px;
    margin-left: -10px;
    margin-top: -20px;
}

.side-blogs,
.side-yt,
.side-contact {
    margin-top: 1.2em;
}

.side-social img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
