@page "/Admin"

<div>
    <span>Admin Panel</span>
</div>

<div>
    <a href="/EditProjects">
        <span>Manage Projects</span>
    </a>
</div>

<div>
    <a href="/EditCategories">
        <span>Manage Categories</span>
    </a>
</div>

<div>
    <a href="/EditTechs">
        <span>Manage Technologies</span>
    </a>
</div>

<hr />

<div>
    <a href="/CreateProject">
        <span>Add Project</span>
    </a>
</div>

<div>
    <a href="/CreateCategory">
        <span>Add Category</span>
    </a>
</div>

<div>
    <a href="/CreateTech">
        <span>Add Technology</span>
    </a>
</div>

