@page "/CreateTech"
@inherits CreateTechBase

<h3>Create Technology</h3>

<EditForm Model="@TechDto" OnSubmit="@CreateTech_Submit" class="card card-body bg-light mt-5">
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">Name:</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="TechDto.Name" />
        </div>
    </div>
    <div class="form-group row">
        <label for="icon" class="col-md-2 col-form-label">Icon:</label>
        <div class="col-md-10">
            <InputText id="icon" class="form-control" @bind-Value="TechDto.Icon" />
        </div>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>