@page "/EditCategories"
@inherits CategoriesBase

@if (Categories == null)
{
    <LoadingSpinner />
}
else
{
    <h3 class="mb-5">Categories</h3>

    var categoryCount = Categories.Count();

    @if (categoryCount > 0)
    {
        @foreach (var category in Categories)
        {
            var projects = GetProjectsInThisCategory(category.Id);
            var projectCount = projects.Count();

            <div class="row mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-start gap-3 fs-5">
                        <i class="@category.Icon" />
                        <div class="d-flex flex-column">
                            <h4>@category.Name</h4>
                    
                            @if (projectCount == 0)
                            {
                                <h5>(there are no projects in this category)</h5>
                            }
                            else if (projectCount == 1)
                            {
                                <h5>(@projectCount project)</h5>
                            }
                            else 
                            {
                                <h5>(@projectCount projects)</h5>
                            }                        
                        </div>
                    </div>                

                    <div class="d-flex justify-content-start gap-2">
                        @if (projectCount == 0)
                        {
                            <button @onclick="(() => DeleteCategory_Click(category.Id))"
                                    class="btn btn-danger h-50">
                                <i class="fa fa-trash" />
                            </button>                    
                        }

                        <button @onclick="(() => EditCategory_Click(category.Id))"
                                class="btn btn-dark h-50">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
            <hr class="mb-3" />
        }
    }
}