@page "/EditProjects"
@*@inherits ProjectsBase*@
@inherits EditProjectsBase

@if (Projects == null)
{
    <LoadingSpinner />
}
else
{
    <h3 class="mb-5">Projects</h3>

    var projectCount = Projects.Count();

    @if (projectCount > 0)
    {
        @foreach (var group in GetGroupedProjects())
        {
            <h4>@GetCategoryName(group) (@group.Count())</h4>

            <div class="row mt-3">
                <CascadingValue Value="this">
                    <DisplayEditProjects Projects="@group"></DisplayEditProjects>
                </CascadingValue>                
            </div>
            <hr class="mb-3" />
        }
    }
}
