@page "/EditTechs"
@inherits TechsBase

@if (Techs == null)
{
    <LoadingSpinner />
}
else
{
    <h3 class="mb-5">Techs</h3>

    var techCount = Techs.Count();

    @if (techCount > 0)
    {
        @foreach (var tech in Techs)
        {
            var projects = GetProjectsWithThisTech(tech.Id);
            var projectCount = projects.Count();

            <div class="row mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-start gap-3 fs-5">
                        <i class="@tech.Icon"/>
                        <div class="d-flex flex-column">
                            <h4>@tech.Name</h4>
                    
                            @if (projectCount == 0)
                            {
                                <h5>(no project uses this technology)</h5>
                            }
                            else if (projectCount == 1)
                            {
                                <h5>(used in @projectCount project)</h5>
                            }
                            else
                            {
                                <h5>(used in @projectCount projects)</h5>
                            }
                        </div>
                    </div>

                    <div class="d-flex justify-content-start gap-2">
                        @if (projectCount == 0)
                        {
                            <button @onclick="(() => DeleteTech_Click(tech.Id))"
                                    class="btn btn-danger h-50">
                                <i class="fa fa-trash" />
                            </button>                    
                        }

                        <button @onclick="(() => EditTech_Click(tech.Id))"
                                class="btn btn-dark h-50">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
            <hr class="mb-3" />
        }
    }
}
