@page "/EditTechs"
@inherits TechsBase

@if (Techs == null)
{
    <LoadingSpinner />
}
else
{
    <h3 class="mb-5">Techs</h3>

    var techCount = Techs.Count();

    @if (techCount > 0)
    {
        @foreach (var tech in Techs)
        {
            var projects = GetProjectsWithThisTech(tech.Id);
            var projectCount = projects.Count();

            <div class="row mt-3">
                <i class="@tech.Icon"/>
                <h4>@tech.Name</h4>
                @if (projectCount == 0)
                {
                    <h4>(no project uses this technology)</h4>
                }
                else
                {
                    <h4>(used in @projectCount project(s))</h4>
                }
            </div>
            <hr class="mb-3" />
        }
    }
}
